// Colors

$color-dark: hsl(0, 0%, 0%);
$color-light: hsl(360, 100%, 100%);

$primary-color: hsl(341, 97%, 85%);
$secondary-color: hsl(172, 98%, 37%);

// Fonts

$body-font-stack: 'Roboto', sans-serif;
$heading-font-stack: 'Roboto Slab', serif;


// Weights

$font-normal: 400;
$font-bold: 700;

// Border

$border-style: 2px solid $color-dark;
